.parent-header {
    position: relative;
    top: 0;
    left: 0;
  }
  .banner {
    position: relative;
    top: 0;
    left: 0;
  }
  .selfie {
    position: absolute;
    bottom: 10%;
    left: 40%;
    width:256px;
    height:256px; 
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 50%;
  }