.parent-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .banner {
    position: relative;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
  }
  .selfie {
    position: absolute;
    bottom: -15%;
    left: 55%;
    width:200px;
    height:200px; 
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 50%;
  }