.parent-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
  }

  .selfie {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width:200px;
    height:200px; 
    border: 5px solid rgb(2, 0, 0); 
    border-radius: 50%;
  }

  .menu {
      display: block;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
  }