@import "tailwindcss";

@theme {
  --color-scheme: dark;
}

@variant dark (&:where(.dark, .dark *));

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/modern';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';