<!-- Header with Banner and Selfie -->
<div class="parent-header">
    <img src="../assets/img/nick-selfie-beach.jpg" class="img-fluid, selfie" alt="Selfie of Nick Quinn at beach">
</div>

<div class="menu">
    <p>
    <a routerLink="/home" routerLinkActive="active">Home</a> |
    <a routerLink="/about-me" routerLinkActive="active">About Me</a> |
    <a routerLink="/career" routerLinkActive="active">Career</a> |
    <a routerLink="/projects" routerLinkActive="active">Projects</a> |
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </p>
</div>